In [2]:
import pandas as pd
import numpy as np
import os
import sys

In [6]:
# Load the data with all questions without citations
allq_data = pd.read_csv("query_results_emath_with_random.csv")

# Load the data with all questions with citations
cite_data = pd.read_csv("query_results_with_citations.csv")

print("Columns in allq_data: ", allq_data.columns)
print("Columns in cite_data: ", cite_data.columns)

Columns in allq_data:  Index(['use_image', 'retrieved_docs_count', 'use_few_shot', 'query_id',
       'user_query', 'generated_question', 'generated_answer'],
      dtype='object')
Columns in cite_data:  Index(['use_image', 'retrieved_docs_count', 'use_few_shot', 'query_id',
       'user_query', 'generated_question', 'generated_answer', 'citations',
       'citation_1_text', 'citation_2_text', 'citation_3_text'],
      dtype='object')

In [12]:
display(allq_data)

,use_image,retrieved_docs_count,use_few_shot,query_id,user_query,generated_question,generated_answer
0,False,1,False,01JEQHNXAYJ56FX0HJGRSJ37XH,Can you provide practice problems on multiplyi...,Calculate the matrix product for matrices \( A...,\(\begin{pmatrix}13&13\\21&11\end{pmatrix}\)
1,False,1,False,01JEQHNXAYT3QN06GAVQYPNSMQ,I need some exercises involving matrix multipl...,"If you have two matrices, \( A = \begin{pmatri...",C=\begin{pmatrix}11&16\\7&12\end{pmatrix}
2,False,1,False,01JEQHNXAYAE3K2AWXYWF9ZTMN,Where can I find practice questions on multipl...,Given two matrices \( A = \begin{pmatrix} 1 & ...,\(C=\begin{pmatrix}19&22\\43&50\end{pmatrix}\)
3,False,1,False,01JEQHNXB18EB0ZNT6AHMTQTX6,Do you have any sample questions on multiplyin...,If matrix \( A = \begin{bmatrix} 2 & 1 \\ 3 & ...,\(C=\begin{bmatrix}1&13\\4&27\end{bmatrix}\)
4,False,1,False,01JEQHP939J0243HG6CZVTR11Q,Could you give me some problems to practice ma...,Question 1: Given matrices \( A = \begin{bmatr...,\(C=\begin{bmatrix}28&7\\29&6\end{bmatrix}\)
...,...,...,...,...,...,...,...
655,True,3,True,NaN,What is the difference between a simile and a ...,NaN,NaN
656,True,3,True,NaN,How do airplanes stay in the air?,NaN,NaN
657,True,3,True,NaN,What are the main ingredients in baking a cake?,NaN,NaN
658,True,3,True,01JEQQB6710BA3RJYTZR53DYRD,What is the Fibonacci sequence used for in rea...,"John is planning to organize 300 bananas, 450 ...","150groups;2bananas,3grapes,and4mangospergroup."
659,True,3,True,NaN,What is the history of the internet?,NaN,NaN

In [11]:
display(cite_data)

,use_image,retrieved_docs_count,use_few_shot,query_id,user_query,generated_question,generated_answer,citations,citation_1_text,citation_2_text,citation_3_text
0,False,1,False,01JERWQRDJRK2PKSMSZKJS8T4P,I need some exercises involving matrix multipl...,"A local theme park charges $55 for adults, $40...",39575,674dcdb4b00b977d048c931b,The admission tickets to the Singapore Zoo are...,NaN,NaN
1,False,1,False,01JERWQRDJAMFP81D1TNB237MV,Can you provide practice problems on multiplyi...,A concert event sells tickets at different pri...,"$40,750",674dcdb4b00b977d048c931b,The admission tickets to the Singapore Zoo are...,NaN,NaN
2,False,1,False,01JERWQRDJN4W5APZRJ9HEZ9Z3,Where can I find practice questions on multipl...,"In a movie theater, the tickets are priced at ...","5664,5460.Totalamountcollected=11,124",674dcdb4b00b977d048c931b,The admission tickets to the Singapore Zoo are...,NaN,NaN
3,False,1,False,01JERWQRDJ1QS10Q1YTJG3CT42,Do you have any sample questions on multiplyin...,The ticket prices for the National Aquarium ar...,"Saturday:$12075,Sunday:$12930,Total:$25005",674dcdb4b00b977d048c931b,The admission tickets to the Singapore Zoo are...,NaN,NaN
4,False,1,False,01JERWR9B5KK68DP8MH5H8KWPE,Could you give me some problems to practice ma...,The admission tickets to an art exhibition are...,50800,674dcdb4b00b977d048c931b,The admission tickets to the Singapore Zoo are...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
139,False,1,True,01JERXHTY8AH64T6E6ZFSCYCJY,Can you provide practice problems on evaluatin...,"Given that \( 3^{2y} = 54 \times 9^y \), \text...",Possiblesimplificationneededdependingonsetuper...,674dcdb5b00b977d048c931d,"Given that 2^{32} \times 1 = 6 \times 8^x, \te...",NaN,NaN
140,False,1,True,01JERXJDN0GKKS39GK7KN2KVQH,Do you have any sample questions on evaluating...,"If \( 4^{16} = 12 \times 16^{y} \), find the v...",y=8,674dcdb5b00b977d048c931d,"Given that 2^{32} \times 1 = 6 \times 8^x, \te...",NaN,NaN
141,False,1,True,01JERXJJ63M1PNFSDB81RCPQMB,Could you give me some problems to practice ev...,Solve for \( x \) in the equation \( 2^{40} + ...,x=10,674dcdb5b00b977d048c931d,"Given that 2^{32} \times 1 = 6 \times 8^x, \te...",NaN,NaN
142,False,1,True,01JERXJB3462X9WDGAR7TA03MP,Where can I find practice questions on evaluat...,The equation 3^{15} \cdot 2 = 9y^x has been es...,x=0,674dcdb5b00b977d048c931d,"Given that 2^{32} \times 1 = 6 \times 8^x, \te...",NaN,NaN
143,False,1,True,01JERXKK05NZWHD0R1ENXSBK5M,What is the Fibonacci sequence used for in rea...,"Emma has a total of 240 mangoes, 320 bananas, ...",80,674dcda0b00b977d048c9308,"Mary needs to pack 210 oranges, 252 apples and...",NaN,NaN

In [20]:
# Columns to group by
group_columns = ['use_image', 'retrieved_docs_count', 'use_few_shot']

# Split dataframe into groups
split_dataframes = {
    group_key: group_df.reset_index(drop=True)
    for group_key, group_df in cite_data.groupby(group_columns)
}

files = []
# Display the resulting dataframes
for group_key, group_df in split_dataframes.items():
    print(f"Group: {group_key}")
    
    # Save the group to a csv file
    group_df.to_csv(f"query_results_emath_with_random_citations_{group_key}.csv", index=False)
    files.append(f"query_results_emath_with_random_citations_{group_key}.csv")

Group: (False, 1, False)
Group: (False, 1, True)
Group: (True, 1, False)
Group: (True, 3, True)

# Calculate New Citation Groundness Score

In [ ]:
import pandas as pd
from trust_eval import _run_nli_gpt4

def calculate_citation_f1(data: pd.DataFrame):
    length_A_r = 0
    CR_score = 0
    CP_score = 0

    for _, row in data.iterrows():   # each user query
        claim = row["generated_question"]
        docs = [row["citation_1_text"], row["citation_2_text"], row["citation_3_text"]]
        
        if claim == "Error generating output": # Model did not generate a response
            continue

        length_A_r += 1

        # Calculate CR score for this user query
        docs_text = [doc for doc in docs if isinstance(doc, str) and doc.strip()]
        concatenated_docs = '| Question: '.join(docs_text)
        CR_score += _run_nli_gpt4(concatenated_docs, claim) # Either 1 or 0

        # Calculate CP score for this user query
        local_CP_score = 0
        local_CP_length = 0
        for doc in docs:
            if isinstance(doc, str) and doc.strip():
                local_CP_length += 1
                local_CP_score += _run_nli_gpt4(doc, claim)

        if local_CP_length > 0:
            CP_score += (local_CP_score / local_CP_length)

    overall_CR_score = CR_score / length_A_r if length_A_r > 0 else 0
    overall_CP_score = CP_score / length_A_r if length_A_r > 0 else 0
    overall_CF1_score = 2 * (overall_CR_score * overall_CP_score) / (overall_CR_score + overall_CP_score) if (overall_CR_score + overall_CP_score) > 0 else 0

    return {
        "citation_rec": 100 * overall_CR_score,
        "citation_prec": 100 * overall_CP_score,
        "citation_f1": 100 * overall_CF1_score,
    }

In [ ]:
citation_results = {}

for file in files:
    config = file.split("_")[-1].split(".")[0]
    
    data = pd.read_csv(file)
    citation_results[config] = calculate_citation_f1(data)

In [ ]:
print(citation_results)
# 'use_image', 'retrieved_docs_count', 'use_few_shot':  

# Save the results to a JSON file
import json

with open("citation_results.json", "w") as f:
    json.dump(citation_results, f, indent=4)

{'(False, 1, False)': {'citation_rec': 77.77777777777779, 'citation_prec': 75.0, 'citation_f1': 76.36363636363637}, '(False, 1, True)': {'citation_rec': 66.66666666666666, 'citation_prec': 61.111111111111114, 'citation_f1': 63.76811594202899}, '(True, 1, False)': {'citation_rec': 44.44444444444444, 'citation_prec': 43.05555555555556, 'citation_f1': 43.738977072310405}, '(True, 3, True)': {'citation_rec': 61.111111111111114, 'citation_prec': 48.148148148148145, 'citation_f1': 53.86064030131826}}

# Measure diversity in generated questions

In [29]:
import jellyfish

# Measure string metrics between the generated_question and each citation_text
def calculate_string_similarities(data: pd.DataFrame):
    
    # Initialize lists to store the similarity scores for each user query
    damerau_levenshtein_sims = []
    jaro_winkler_sims = []

    for _, row in data.iterrows():
        claim = row["generated_question"]
        docs = [row["citation_1_text"], row["citation_2_text"], row["citation_3_text"]]

        damerau_levenshtein_scores = []
        jaro_winkler_scores = []

        for doc in docs:
            if isinstance(doc, str) and doc.strip():
                # Calculate normalized Damerau-Levenshtein difference
                damerau_levenshtein = jellyfish.damerau_levenshtein_distance(claim, doc)
                max_len = max(len(claim), len(doc))
                damerau_levenshtein_diff = (damerau_levenshtein / max_len) if max_len > 0 else 0
                damerau_levenshtein_scores.append(damerau_levenshtein_diff)

                # Calculate Jaro-Winkler difference: 1 - similarity
                jaro_winkler_diff = 1 - jellyfish.jaro_winkler_similarity(claim, doc)
                jaro_winkler_scores.append(jaro_winkler_diff)

        # Average the similarities if there are valid citations
        if damerau_levenshtein_scores:
            damerau_levenshtein_sims.append(sum(damerau_levenshtein_scores) / len(damerau_levenshtein_scores))
        else:
            damerau_levenshtein_sims.append(0)

        if jaro_winkler_scores:
            jaro_winkler_sims.append(sum(jaro_winkler_scores) / len(jaro_winkler_scores))
        else:
            jaro_winkler_sims.append(0)

    # Add the similarity columns to the dataframe
    data["damerau_levenshtein_sim"] = damerau_levenshtein_sims
    data["jaro_winkler_sim"] = jaro_winkler_sims
    
    # Aggregate each similarity metric across all user queries
    damerau_levenshtein_avg = data["damerau_levenshtein_sim"].mean()
    jaro_winkler_avg = data["jaro_winkler_sim"].mean()

    return data, damerau_levenshtein_avg, jaro_winkler_avg

In [30]:
string_diversity_results = {}

for file in files:
    config = file.split("_")[-1].split(".")[0]
    
    data = pd.read_csv(file)
    data, d_l_avg, j_w_avg = calculate_string_similarities(data)
    string_diversity_results[config] = {
        "damerau_levenshtein_avg": d_l_avg,
        "jaro_winkler_avg": j_w_avg
    }
    data.to_csv(f"{file.split('.')[0]}_string_similarities.csv", index=False)
    
print(string_diversity_results)

# Save the results to a JSON file
with open("string_diversity_results.json", "w") as f:
    json.dump(string_diversity_results, f, indent=4)

{'(False, 1, False)': {'damerau_levenshtein_avg': 0.5308687965419285, 'jaro_winkler_avg': 0.26789436425503177}, '(False, 1, True)': {'damerau_levenshtein_avg': 0.5660146864761356, 'jaro_winkler_avg': 0.2848131878056519}, '(True, 1, False)': {'damerau_levenshtein_avg': 0.617971347434754, 'jaro_winkler_avg': 0.30550280667388824}, '(True, 3, True)': {'damerau_levenshtein_avg': 0.7107136706813509, 'jaro_winkler_avg': 0.35736204555070744}}

# Prepare JSON for entailment evaluation dataset

In [34]:
def generate_json_data(data: pd.DataFrame):
    json_data = []
    questions = set()

    for _, row in data.iterrows():
        citations = []
        for col in ["citation_1_text", "citation_2_text", "citation_3_text"]:
            cited_text = row[col]
            if isinstance(cited_text, str) and cited_text.strip():
                citations.append({"cited_text": cited_text, "score": None})

        if row["generated_question"] not in questions:
            json_data.append({
                "generated_question": row["generated_question"],
                "citations": citations
            })

    with open("entailment_eval.json", "w") as f:
        json.dump(json_data, f, indent=4)

In [35]:
generate_json_data(cite_data)

In [37]:
def eval_gpt4o_scores(json_data):
    match_count = 0
    total_count = 0
    
    for item in json_data:
        claim = item["generated_question"]
        for citation in item["citations"]:
            total_count += 1
            passage = citation["cited_text"]
            gpt4o_score = _run_nli_gpt4(passage, claim)
            citation["gpt4o_score"] = int(gpt4o_score)
            
            if int(gpt4o_score) == citation['score']:
                match_count += 1
                
    accuracy = match_count / total_count if total_count > 0 else 0
    
    # Save the updated JSON data
    with open("entailment_eval_gpt4o.json", "w") as f:
        json.dump(json_data, f, indent=4)
        
    return accuracy

In [ ]:
# Load the JSON data
with open("entailment_eval.json", "r") as f:
    json_data = json.load(f)
    
accuracy = eval_gpt4o_scores(json_data)

In [39]:
print("Accuracy of GPT-4o as Entailment Judge: ", accuracy)

Accuracy of GPT-4o as Entailment Judge:  0.6190476190476191